  h1 { 
      text-align: center;
  		}
  	.bold {font-weight: bold;}
  	p {
  		text-align: justify-all;
  	}
   *{
      padding: 0px;
      margin: 0px;
   }
   .index{
      background-image: url(../img/pattern.jpg);
   }

   .head{
      width: 100%;
     
   }
   .head .nav{
      background: white;
      padding: 10px 0px;
      text-align: left;
      position: fixed;
      top: 0;
      width: 100%;

   }
   .nav li{
          list-style-type: none;
          display: inline-block;
          padding: 10px 40px;
          border-left: 1px solid white;
          color: purple;
          font-size: 18px;
          float: right;

   }

   .box{
      width: 60%;
      margin: 150px auto;
      background: white;
      padding: 20px;
      font-size: 25px;
   }

   .box h1 {
      text-align: center;
   }

   footer {
      background: black;
      padding: 10px 0px;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
   }

   footer h5 {
      color: white;
      text-align: center;
      
   }